.profile {
  position: relative;
  display: flex;
  max-width: 880px;
  min-height: 128px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  
  outline: solid red 1px;
}  

@media screen and (max-width: 1024px) {
  .profile {
    max-width: calc(100% - 96px); 
  }
}

