.profile__main {
  display: flex;
  border: red solid 1px;
}

@media screen and (max-width: 600px) {
  .profile__main {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .profile__main {
    display: block;
  }
}