.popup__button {
  width: 358px;
  height: 50px;
  background-color: black;
  margin-left: 36px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 37px;
  margin-top: 48px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__button {
    width: 238px;
    height: 46px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 14px;
    line-height: 17px;
  }
}