.header {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 96px); 
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: calc(100% - 54px); 
  }
}
