.popup__name {
  border: none;
  border-bottom: 1px solid #c7baba;
  width: 350px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 500px) {
  .popup__name {
    width: 230px;
  }
}