.popup__form {
  border: 0 none;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 30px;
  
}

@media screen and (max-width: 500px) {
  .popup__form {
    padding-left: 25px;
    padding-right: 25px;
  }
}