.profile__text {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #FFFFFF;
  outline: red solid 1px;
}

@media screen and (max-width: 800px) {
  .profile__text {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .profile__text {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__text {
    display: flex;
    padding-right: 25px;
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .profile__text {
    display: flex;
    justify-content: end;
  }
}