.elements {
  display: grid;
  max-width: calc(1280px - 400px);
  margin-left: auto;
  margin-right: auto;
  column-gap: 17px;
  row-gap: 20px;
  margin-top: 46.25px;
  grid-template-columns: repeat(auto-fill, 282px);
  outline: 2px solid red;
}