.profile__add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__add {
    width: 282px;
    height: 50px; 
  }
}  