.profile__name {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-top: 22px;
  margin-bottom: 16px;
  color: #ffffff;
  outline: red solid 1px;
}

@media screen and (max-width: 800px) {
  .profile__name {
    font-size: 35px;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 600px) {
  .profile__name {
    display: flex;
    justify-content: center;
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 500px) {
  .profile__name {
    display: flex;
   
    font-size: 27px;
    line-height: 33px;
  }
}