.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 32px;
  box-sizing: border-box;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .profile__avatar {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

