.popup__close-button {
  background-color: black;
  border: black;
  padding: 0;
  margin-left: 440px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      margin-left: 263px;
      margin-bottom: 14px;
    }
  }