.popup__close-button {
  position: absolute;
  background-color: rgba(0, 0, 0, .0);
  border: 0px;
  margin: 0px;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-left: 438px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      margin-left: 263px;
      top: -35px;
    }
  }