.profile__avatar {
  width: 120px;
  height: 120px;
  margin-right: 26.5px;
  box-sizing: border-box;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
   margin-right: 19px;
  }
}


@media screen and (max-width: 600px) {
  .profile__avatar {
  display: flex;
  margin-left: 100px;
  
  }
}

@media screen and (max-width: 500px) {
  .profile__avatar {
  display: flex;
  margin-left: 80px;
  }
}
@media screen and (max-width: 400px) {
  .profile__avatar {
  display: flex;
  margin-left: 70px;
  }
}