.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  /* outline: solid red 1px; */
}

@media screen and (max-width: 400px) {
  .profile__info {
    grid-template-columns: 235px auto;
  }
}