.popup__text {
  border: none;
  border-bottom: 1px solid #c0b8b8;
  width: 350px;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 700px) {
  .popup__text {
    width: 230px;
  }
}